@page
@model LostManken.Pages.About.AboutModel
@{
    ViewData["Title"] = "ProductAbout";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StartUp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/Adminpage/startup/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/themify-icons.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/nice-select.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/flaticon.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/gijgo.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/animate.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/slick.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/slicknav.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
   
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider about_banner  d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-start">
                    <div class="col-lg-12 col-md-12">
                        <div class="slider_text">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <div class="our_mission_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mission_text">
                        <h4>Misyonumuz</h4>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="mision_info">
                        <div class="single_mission">
                            <p>Lost Manken olarak daima kaliteli ürün, kaliteli hizmet ve hızlı termin anlayışını ön planda tutarak, bulunduğu piyasada kalıcı olmayı hedeflemiş ve bunu başarmıştır. İlkeleri arasında müşterilerine daha kapsamlı hizmet verebilmeyi kendine ilke haline getirmiştir. Uzman satış ve teknik ekibi ile Dünya’nın güvenilir ve saygın bir kuruluşudur.</p>
                        </div>
                        <div class="single_mission">
                            <p>Firmamızın uluslar arası pazarda etkinliğini ve verimliliğini artırmak amacı ile, kendi uzmanlık alanımızda, öncü rekabetçi yapıda, müşterilerin ihtiyacı olan ürünleri üreterek, nihai müşteri memnuniyetini hedef alan, kendi markası ile Dünya’ nın güvenilir ve saygın bir kuruluşu olmak.</p>
                        </div>
                        <div class="single_mission">
                            <p>Sektörde büyüme potansiyeli olan, kalitesinden asla taviz vermeyen, müşteri beklentilerinin ötesinde hizmet veren, çevre ve insan sağlığına duyarlı üretim sistemlerine sahip bir işletme olarak ülkemiz ve dünya ekonomisine katkıda bulunmak.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="about_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-5 offset-lg-1">
                    <div class="about_info">
                        <div class="section_title white_text">
                            <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">About Us</span>
                            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Empowering individuals </h3>
                            <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Efficiently unleash cross-media tour function information without cross action media value. Quickly maximize timely deliverables for real-time schemas.</p>
                            <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">“Function information without cross action media value.</p>
                            <a href="#" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how_we_work_area extra_margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="work_info">
                        <div class="section_title">
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">How we work</h3>
                            <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">“Function information without cross action media value.</p>
                            <p class="last_p wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">Efficiently unleash cross-media tour function information without cross action media value. Quickly maximize timely deliverables for real-time schemas.</p>
                        </div>
                        <div class="video_watch d-flex align-items-center">
                            <div class="play_btn wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                                <a href="https://www.youtube.com/watch?v=D7tF-cY2M9o" class="video_icon popup-video"> <i class="fa fa-play"></i> </a>
                            </div>
                            <span class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".7s"> Watch Video</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

  
   
    <!-- JS here -->
    <script src="~/Adminpage/startup/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Adminpage/startup/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Adminpage/startup/js/popper.min.js"></script>
    <script src="~/Adminpage/startup/js/bootstrap.min.js"></script>
    <script src="~/Adminpage/startup/js/owl.carousel.min.js"></script>
    <script src="~/Adminpage/startup/js/isotope.pkgd.min.js"></script>
    <script src="~/Adminpage/startup/js/ajax-form.js"></script>
    <script src="~/Adminpage/startup/js/waypoints.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.counterup.min.js"></script>
    <script src="~/Adminpage/startup/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Adminpage/startup/js/scrollIt.js"></script>
    <script src="~/Adminpage/startup/js/jquery.scrollUp.min.js"></script>
    <script src="~/Adminpage/startup/js/wow.min.js"></script>
    <script src="~/Adminpage/startup/js/nice-select.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.slicknav.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Adminpage/startup/js/plugins.js"></script>
    <script src="~/Adminpage/startup/js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="~/Adminpage/startup/js/contact.js"></script>
    <script src="~/Adminpage/startup/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.form.js"></script>
    <script src="~/Adminpage/startup/js/jquery.validate.min.js"></script>
    <script src="~/Adminpage/startup/js/mail-script.js"></script>

    <script src="~/Adminpage/startup/js/main.js"></script>
</body>

</html>