@page
@model LostManken.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>StartUp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Adminpage/startup/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/themify-icons.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/nice-select.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/flaticon.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/gijgo.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/animate.min.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/slick.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/slicknav.css">
    <link rel="stylesheet" href="~/Adminpage/startup/css/style.css">
</head>

<body>
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-start">
                    <div class="col-lg-10 col-md-10">
                        <div class="slider_text">
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s">

                                LOST MANKEN
                                Vitrininize estetik bir dokunuş.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="service_area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section_title text-center mb-70">

                        <h3 class="wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".2s">
                            Cansız vitrin mankenleri konusunda, vitrin ihtiyaçlarına göre sadece mevcut vitrin mankeni modellerine bağlı kalmaksızın her türlü vitrin mankeni ihtiyacınızı karşılamaktadır.
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="~/Adminpage/startup/img/svg_icon/1.svg" alt="">
                        </div>
                        <h3>Polyester manken</h3>
                        <p>Polyester Manken Modelleri Malzeme olarak polyester ve cam elyaftan oluşmaktadır. Ürün üzerinde Kullanılan polyester ithal Avrupa polyesterdir.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                        <div class="icon">
                            <img src="~/Adminpage/startup/img/svg_icon/2.svg" alt="">
                        </div>
                        <h3>Fiberglas Manken</h3>
                        <p>
                            Boya kalitesi akrilik parlak beyazdır. İstenilen renklerde boyanabilir.  vitrin mankeni cam ayaklı olarak gönderilmektedir.
                        </p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_service text-center wow fadeInRight" data-wow-duration="1.2s" data-wow-delay=".4s">
                        <div class="icon">
                            <img src="~/Adminpage/startup/img/svg_icon/3.svg" alt="">
                        </div>
                        <h3>Poliüretan </h3>
                        <p>
                            Poliüratan iç kabuk üzerine kumaş giydirilmek suretiyle hazırlanmaktadır. Yumuşak dokusu ve dikine iğne batabilme özelliği sayesinde rahat prova imkanı sağlar
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about_area">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-lg-5 offset-lg-1">
                    <div class="about_info">
                        <div class="section_title white_text">

                            <h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">Cansız Mağaza Mankeni </h3>
                            <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">Cansız Mağaza Mankeni Alt bölümünde bulunan cam sehpa üzerinde durmaktadırlar. Yuvarlak Cam tabla kalınlığı 10 mm dir. Piyasada 8 mm kullanılmaktadır. Fakat ideali 10mm dir. Çap olarak 38cm ölçüsünde olmaktadırlar. Bu cam tabla üzerine vitrin mankeni  metal baldır aparatı ile geçme şekilde sabitlenmektedirler.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio_image_area">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="portfolio_thumb">
                            <img src="~/Site/Images/Manken11.jpg" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                               
                                <h3>Polyester manken</h3>
                              
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">
                        <div class="portfolio_thumb">
                            <img src="~/Site/Images/pol1.jpg" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                                
                                <h3>poliüretan manken</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-lg-4">
                    <div class="single_Portfolio wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">
                        <div class="portfolio_thumb">
                            <img src="~/Site/Images/fiberglass 1.jpg" alt="">
                        </div>
                        <div class="portfolio_hover">
                            <div class="title">
                              
                                <h3>Plastik manken</h3>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="how_we_work_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="work_info">
                        <div class="section_title">
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">poliüretan manken</h3>
                            <p class="mid_text wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s"</p>
                            <p class="last_p wow fadeInRight" data-wow-duration="1s" data-wow-delay=".5s">
                                <ul>
                                    <li>Siyah kumaşlı  ,ahşap ayaklı prova mankeni</li>
                                    <li>Yumuşak dokusu ve dikine iğne batabilme özelliği sayesinde rahat prova imkanı sağlar.</li>
                                    <li>36-38-40-42-46 beden ölçülerinde imalatı yapılmaktadır.</li>
                                    <li>Asansör ayak mekanizması sayesinde boyunuza göre yükseklik ayarı yapılabilir.</li>
                                    <li>Tüm Türkiye'ye anlaşmalı kargo firmamızla gönderimi sağlanmaktadır.</li>
                                </ul>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Adminpage/startup/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/Adminpage/startup/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/Adminpage/startup/js/popper.min.js"></script>
    <script src="~/Adminpage/startup/js/bootstrap.min.js"></script>
    <script src="~/Adminpage/startup/js/owl.carousel.min.js"></script>
    <script src="~/Adminpage/startup/js/isotope.pkgd.min.js"></script>
    <script src="~/Adminpage/startup/js/ajax-form.js"></script>
    <script src="~/Adminpage/startup/js/waypoints.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.counterup.min.js"></script>
    <script src="~/Adminpage/startup/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Adminpage/startup/js/scrollIt.js"></script>
    <script src="~/Adminpage/startup/js/jquery.scrollUp.min.js"></script>
    <script src="~/Adminpage/startup/js/wow.min.js"></script>
    <script src="~/Adminpage/startup/js/nice-select.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.slicknav.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Adminpage/startup/js/plugins.js"></script>
    <script src="~/Adminpage/startup/js/gijgo.min.js"></script>

    <script src="~/Adminpage/startup/js/contact.js"></script>
    <script src="~/Adminpage/startup/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Adminpage/startup/js/jquery.form.js"></script>
    <script src="~/Adminpage/startup/js/jquery.validate.min.js"></script>
    <script src="~/Adminpage/startup/js/mail-script.js"></script>

    <script src="~/Adminpage/startup/js/main.js"></script>
</body>

</html>