@page "{id}"
@model LostManken.Areas.Admin.Pages.Products.EditModel
@{
}


<div></div>
<br />
<br />

<form method="post">
    <input type="hidden" asp-for="Product.Id" />

    <input type="text" class="form-control" asp-for="Product.Name" placeholder="Ürün Adı" />
    <br />
    <textarea class="form-control" asp-for="Product.Notes" placeholder="Not"></textarea>
    <br />
    <textarea class="form-control" asp-for="Product.Properties" id="summernote" placeholder="Açıklama"></textarea>
    <br />
    <textarea class="form-control" asp-for="Product.UnitPrice" placeholder="Fiyat"></textarea>
    <br />
    <textarea class="form-control hidden" asp-for="Product.MainPhoto" placeholder="Ana resim"></textarea>
    <br />
    <br />

    <button class="btn btn-primary" asp-page-handler="Update">Güncelle</button>
    <a class="btn btn-primary" asp-area="Admin" asp-page="list">Listeye geri dön</a>
</form>